In [664]:
import pandas as pd
import csv

In [665]:
df = pd.read_csv("data.csv")

#Transpose dataframe so that securities are at the top as columns and values underneath with the dates as index
df = df.T

#Remove column names and replace with first row
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header

#Rename the index column
df = df.rename_axis('Dates', axis='columns')

print(df[0:5])

Dates    isin1 isin2 isis3 isin4 isin5
20220131    42    33    62    99    80
20220228    91    81    61    85     6
20220331    28     4     6    43    45
20220430    20    72    98    86    42
20220531    55    70    85    31    47

In [666]:
#Concatenate the index and column value inside each value in the dataframe
df = df.astype(str).apply(lambda x : x.name+','+x)
df = df.astype(str).apply(lambda x : x.index+','+x)

#Take all values inside the dataframe as an array
df_values = df.values
print(df_values[0])

['20220131,isin1,42' '20220131,isin2,33' '20220131,isis3,62'
 '20220131,isin4,99' '20220131,isin5,80']

In [667]:
#Loop through the array to nullify it as an array and append to df_list 
df_list = []

for items in df_values:
    for y in items:
        df_list.append(y)

#convert list to a series for easier exporting to CSV
df_series = pd.Series(df_list)

In [668]:
#Export to CSV
df_series.to_csv("portfolio_positions.csv")
df_series

0     20220131,isin1,42
1     20220131,isin2,33
2     20220131,isis3,62
3     20220131,isin4,99
4     20220131,isin5,80
5     20220228,isin1,91
6     20220228,isin2,81
7     20220228,isis3,61
8     20220228,isin4,85
9      20220228,isin5,6
10    20220331,isin1,28
11     20220331,isin2,4
12     20220331,isis3,6
13    20220331,isin4,43
14    20220331,isin5,45
15    20220430,isin1,20
16    20220430,isin2,72
17    20220430,isis3,98
18    20220430,isin4,86
19    20220430,isin5,42
20    20220531,isin1,55
21    20220531,isin2,70
22    20220531,isis3,85
23    20220531,isin4,31
24    20220531,isin5,47
25    20220630,isin1,47
26    20220630,isin2,34
27    20220630,isis3,24
28    20220630,isin4,22
29    20220630,isin5,48
30    20220731,isin1,38
31    20220731,isin2,93
32    20220731,isis3,51
33    20220731,isin4,37
34    20220731,isin5,74
dtype: object